
@{
    ViewBag.Title = "Index";
}
<h2>Dev Tools</h2>
<a href="@Url.RouteUrl("GetPronsApi", null)" class="btn btn-primary" target="_blank">Get Prons</a>
<a href="@Url.RouteUrl("ImportWords1Api", null)" class="btn btn-primary" target="_blank">Import Words1.txt</a>
<a href="@Url.RouteUrl("ImportWords2Api", null)" class="btn btn-primary" target="_blank">Import Words2.txt</a>