@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<Microsoft.AspNetCore.Identity.MongoDB.IdentityUser> SignInManager

@{
    ViewData["Title"] = "Access Denied";
}

<h2>@ViewData["Title"]</h2>