body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#logo {
    float: left;
    margin-top: 7px;
    margin-right: 10px;
    width: 36px;
}

.hidden {
    display: none;
}

#search_box_input {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50px;
    font-size: 28px;
}

div#add_word .row div[class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
}

.word {
    color: #333;
    background: #f5f5f5;
    float: left;
    font-size: 32px;
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    border-radius: 4px;
}

.word .highlight {
    color: #ff0000;
}
